# dependencies
/node_modules

# next.js
/.next

# old clean repo (just in case)
/status.git


# local env files
.env
.env.*
!.env.example

# log files PM2, logs
*.log
logs/
*.pid
*.seed

# IDE / Editor
.vscode/
.idea/
*.sw?

# MacOS
Thumbs.db
ehthumbs.db
Desktop.ini

# Build / cache
.cache/
.next/cache/

# Linux / system
*.swp
*~

# Docker
docker-compose.override.yml
.envrc
