/* Custom scrollbar */
.appointment_form::-webkit-scrollbar {
  width: 8px;
}

.appointment_form::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

.appointment_form::-webkit-scrollbar-thumb {
  background: #5ba3bb50;
  border-radius: 10px;
}

.appointment_form::-webkit-scrollbar-thumb:hover {
  background: #5ba3bb80;
}
/* Scrollbar styles for Firefox */
.appointment_form {
  scrollbar-width: thin;
  scrollbar-color: #5ba3bb50 #f3f4f6; /* Scrollbar and track color */
}

.appointment_form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background: #ccdde4;
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
}

.loadingPage_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal_window_info {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.modal_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_form h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2e8b57;
  text-align: center;

  padding: 2rem;
}

.modal_form {
  display: flex;
  width: auto;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem;

  padding: 1rem;
}

.modal_form p span {
  display: inline-block;
  width: 3rem;
  color: #44444480;
  font-size: 1rem;

  margin-right: 0.3rem;
}
.modal_form p {
  border-bottom: 1px solid #44444420;
  color: #444;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 0.2rem;
}

.title {
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 1.5rem;
  color: #44444460;
  border-bottom: 1px solid #44444460;

  padding-bottom: 1rem;
  margin: 1rem 0 0 0;
}

.main_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 4rem;
  padding: 4rem 4rem 0 4rem;
  max-width: 1500px;
}

.calendar_wrapper {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-items: center;
  align-items: start;
}

.calendar_container {
  min-width: 450px;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;

  padding: 0 1rem 1rem 1rem;
}
.title_task {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;

  margin: 0.5rem 0;
}
.title_task h3 {
  color: #444;
}
.title_task_number {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  background-color: #444;
  color: #fff;

  margin: 0.5rem;
}
.TaskAltIcon {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;

  margin: 0.5rem;
}

.AvailableDoctors_wrapper {
  display: grid;

  grid-column: 2 / 4;
  grid-row: 1 / 4;
  justify-items: center;
  align-items: start;

  margin-bottom: 4rem;
}

.AvailableDoctors_container {
  min-width: 20rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: auto;

  padding: 0 1rem 1rem 1rem;
}

.form_fields_wrapper {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-items: start;
  align-items: start;
}

.form_fields {
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;

  padding: 0 1rem 1rem 1rem;
}

.buttons_container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;

  margin: 2rem 0 3rem 0;
}

@media screen and (max-width: 1024px) {
  .calendar_wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 2rem;
  }

  .AvailableDoctors_wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-bottom: 2rem;
  }
  .AvailableDoctors_container {
    height: 100%;
  }

  .form_fields_wrapper {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .main_container {
    padding: 4rem 2rem 0 2rem;
  }
}

@media screen and (max-width: 640px) {
  .main_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    gap: 2rem;
  }
  .calendar_wrapper {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    min-width: auto;
    width: 100%;
    justify-items: center;
    align-items: center;

    padding: 0;
  }
  .calendar_container {
    min-width: 100%;
  }

  .AvailableDoctors_wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .form_fields_wrapper {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .title {
    font-size: 1.2rem;
  }
  .title_task {
    font-size: 1rem;
  }
  .title_task_number {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;

    margin: 0.5rem;
  }
  .TaskAltIcon {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;

    margin: 0.5rem;
  }
}
