@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(
    219deg,
    rgba(204, 221, 228, 1) 56%,
    rgba(225, 241, 248, 1) 70%
  );
  --nav-gradient: linear-gradient(to right, #ffffff 45%, #ccdde4 45%);
}

/* Custom scrollbar */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #5ba3bb50;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #5ba3bb80;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.nav-gradient {
  background: var(--nav-gradient);
}

.text-grey {
  color: #a7adaf;
}
.bg_grey {
  background-color: #ccdde4;
}

.blue {
  background-color: #5ba3bb;
}
.gradient {
  background-color: var(--gradient);
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}
