@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #006eff60;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #44444480;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-montserrat), sans-serif;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

@layer utilities {
  .title-text {
    @apply font-bold text-[2.5rem] leading-[3.25rem];
    font-family: var(--font-benzin), sans-serif;
  }

  .title-text-m {
    @apply font-bold text-[1.75rem] leading-[2.25rem];
    font-family: var(--font-benzin), sans-serif;
  }
  .title-text-xs {
    @apply font-bold text-[1.5rem] leading-[2rem];
    font-family: var(--font-benzin), sans-serif;
  }
  .container-padding {
    @apply px-[1rem] lg:px-[2rem] xl:px-[10rem] 2xl:px-[15rem];
  }
}

.blue-text {
  color: #006eff;
}

.insetBlur {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: inset 10px 0 15px #006eff;
}
