.users_page_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: hidden;
}
.error_loading {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.alert_loading {
  display: flex;
  width: 26rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}
.loading_data {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: #a7adaf;

  margin-bottom: 0.5rem;
}

/* Table navigation */
.table_navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  width: auto;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid white;
  background-color: #5ba3bb;
}

.table_navigation {
  display: flex;
  align-items: center;
  width: 14rem;
  height: 3.5rem;
  border-radius: 10px;
  margin: 0.5rem;
  order: 1;
  font-size: 24px;
}

.button_nav {
  margin: 0 20px 0 20px;
  padding: 0.5rem 0 0.5rem 0;
  transition: ease 0.2s;
}
.button_nav:hover {
  transform: translateY(-0.1rem);
}
.button_nav:active {
  transform: scale(0.99);
}

.filter_container {
  display: flex;
  width: 20rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
}

.button_filter {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  background-color: #1976d2;
  border-radius: 0.3rem;
  margin: 1.45rem;
  padding: 0.2rem 0.7rem;
}

.button_filter div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button_filter span {
  font-size: 1.2rem;
  color: #fff;
}

.filter_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: transparent;
  max-height: 300px;
  overflow: hidden;
}

.open {
  max-height: 20rem;
  transform: translateY(0);
  transition: 0.8s ease-in-out;
  visibility: visible;
}

.closed {
  max-height: 0;
  transform: translateY(-10px);
  transition: 0.3s ease-in-out;
  visibility: hidden;
}

.table_search {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 20rem;
  height: 3.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  order: 3;
}

/* -----Table -------*/
.table_container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: end;
  overflow: hidden;
  border: 2px solid #5ba3bb;
  border-top: none;
  background-color: #5ba3bb;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table {
  min-width: 600px;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.thead {
  height: 3rem;
  background-color: #5ba3bb;
  font-size: 20px;
  color: #444;
}

.table th {
  padding: 0.5rem 0.5rem;
  text-align: left;
  text-wrap: nowrap;
}
.table td {
  padding: 0.5rem 0.5rem;
  text-align: left;
}

.tbody {
  display: block;
  height: 100%;
  overflow-y: auto;
  background-color: white;
}

.tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  cursor: pointer;
}

.thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tr_body {
  border-top: 1px solid #5ba3bb20;
  border-bottom: 1px solid #5ba3bb20;
}
.tr_body_selected {
  border-top: 2px solid #5ba3bb;
  border-bottom: 2px solid #5ba3bb;
  background-color: #e1f1f8;
}

.id_th {
  width: 5rem;
}

.id_td {
  width: 5rem;
}

/* Custom scrollbar */
.table :global(::-webkit-scrollbar) {
  width: 8px;
}

.table :global(::-webkit-scrollbar-track) {
  background: #f3f4f6;
  border-radius: 10px;
}

.table :global(::-webkit-scrollbar-thumb) {
  background: #5ba3bb50;
  border-radius: 10px;
}

.table :global(::-webkit-scrollbar-thumb:hover) {
  background: #5ba3bb80;
}

@media screen and (max-width: 1024px) {
  .id_td {
    width: 2rem;
  }
  .id_th {
    width: 2rem;
  }
  .table_navbar {
    /* flex-wrap: nowrap; */
  }
  .filter_container {
    order: 3;
    align-items: start;
  }
  .table_search {
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  .users_page_wrap {
    padding: 1rem;
  }
  .thead {
    font-size: 16px;
  }
  .tbody {
    font-size: 14px;
    padding-top: 0;
  }
  .table th {
    padding: 0.2rem;
  }
  .table td {
    padding: 0.2rem;
  }
}
@media screen and (max-width: 640px) {
  .table_container {
    overflow: auto;
  }
  .users_page_wrap {
    padding: 0;
  }
}
