.calendar {
  position: relative;
  width: auto;
  height: 380px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fdfdfd;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #006eff;
}

.header h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0 20px 0 20px;
  text-wrap: nowrap;
}

.header button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 2rem;
  color: #cccccc80;
}

.header button:hover {
  color: #fdfdfd;
}
.header button:active {
  color: #fdfdfd;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 10px;
}

.dayName {
  font-weight: bold;
  text-align: center;
}

.day {
  display: flex;
  flex-direction: column;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8baba;
  border-radius: 4px;
  cursor: pointer;
}

.timeSlots {
  color: orange;
  font-size: 8px;
}

.day:hover {
  background-color: #f1f1f1;
}

.highlighted_available {
  background-color: #f5f5f5;
  color: black;
  font-weight: 600;
}
.highlighted_notavailable {
  background-color: #f5f5f5;
  color: #bfbfbf;
  pointer-events: none;
}

.today {
  font-weight: 600;
}

.emptyDay {
  background-color: transparent;
  cursor: default;
}
.emptyDay:hover {
  background-color: transparent;
}
.selected {
  background-color: #006eff;
  color: white;
}
.selected:hover {
  background-color: #006eff;
  color: white;
}

.disabled {
  background-color: #f5f5f5;
  color: #22222250;
  pointer-events: none;
}

.selectedDates {
  margin-top: 20px;
}

.selectedDates div {
  padding: 5px;
}
.error {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 37%;
  left: 0;
  color: red;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  background-color: #ccdde4;
}

@media screen and (max-width: 640px) {
  .calendar {
    width: 100%;
    height: 100%;
  }
  .header h2 {
    font-size: 1.2rem;
    margin: 0 10px 0 10px;
  }
}
